<div class="edit-registration">
  <div class="col-md-4 col-md-offset-4">
      <div class="row">
        <div class="panel-heading text-center">
<<<<<<< HEAD
          <h2>Редагування даних аккаунта</h2>
=======
          <h2>Редактирование аккаунта</h2>
>>>>>>> f5b642ed63968df69d7c6ff0aad10b516b291333
        </div>  


    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
      
      <div class="form_group">
<<<<<<< HEAD
        <%= f.label :Мене_звати %><br />
=======
        <%= f.label :Меня_зовут %><br />
>>>>>>> f5b642ed63968df69d7c6ff0aad10b516b291333
        <%= f.text_field :name, autofocus: true, class: "form-control" %>
      </div>
     <br>
      <div class="form_group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>
    <br>
      <div class="form_group">
<<<<<<< HEAD
        <%= f.label :Мобільний_телефон %><br />
=======
        <%= f.label :Мобильный_телефон %><br />
>>>>>>> f5b642ed63968df69d7c6ff0aad10b516b291333
        <%= f.telephone_field :phone, autofocus: true, class: "form-control" %>
      </div>
    <br>
      <div class="form_group">
<<<<<<< HEAD
        <%= f.label :Адреса %><br />
=======
        <%= f.label :Адрес %><br />
>>>>>>> f5b642ed63968df69d7c6ff0aad10b516b291333
        <%= f.text_area :adress, autofocus: true, class: "blog-text-area form-control" %>
      </div>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
    <br>
      <div class="form_group">
<<<<<<< HEAD
        <%= f.label :Новий_пароль %> <i>(Якщо не хочете змінювати пароль, залиште поле порожнім)</i><br />
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
        <% if @minimum_password_length %>
          
          <em><%= @minimum_password_length %> символів мінімум</em>
=======
        <%= f.label :Новый_пароль %> <i>(Если не хотите менять пароль, оставьте поле пустым)</i><br />
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
        <% if @minimum_password_length %>
          
          <em><%= @minimum_password_length %> символов минимум</em>
>>>>>>> f5b642ed63968df69d7c6ff0aad10b516b291333
        <% end %>
      </div>
    <br>
      <div class="form_group">
<<<<<<< HEAD
        <%= f.label :Підтвердження_нового_паролю %><br />
=======
        <%= f.label :Подтверждение_нового_пароля %><br />
>>>>>>> f5b642ed63968df69d7c6ff0aad10b516b291333
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
      </div>
    <br>
      <div class="form_group">
<<<<<<< HEAD
        <%= f.label :Дійсний_пароль %> <i>(Введіть дійсний пароль для збереження змін)</i><br />
=======
        <%= f.label :Текущий_пароль %> <i>(Введите текущий пароль для сохранения изменений)</i><br />
>>>>>>> f5b642ed63968df69d7c6ff0aad10b516b291333
        <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
      </div>
    <br>
      <div class="actions">
<<<<<<< HEAD
        <%= f.submit "Оновити", class: "btn btn-danger" %>
=======
        <%= f.submit "Обновить", class: "btn btn-danger" %>
>>>>>>> f5b642ed63968df69d7c6ff0aad10b516b291333
        <%= link_to "Назад", :back, class: "btn btn-primary"%>
      </div>
    <% end %>

<<<<<<< HEAD
    <h3>Видалення аккаунта</h3>

    <%= button_to "Видалити аккаунт", registration_path(resource_name), class: "btn btn-primary", data: { confirm: "Are you sure?" }, method: :delete %>
=======
    <h3>Удаление аккаунта</h3>

    <%= button_to "Удалить аккаунт", registration_path(resource_name), class: "btn btn-primary", data: { confirm: "Are you sure?" }, method: :delete %>
>>>>>>> f5b642ed63968df69d7c6ff0aad10b516b291333
    </div>
  </div>
</div>
