<div class="col-md-4 col-md-offset-4">
  <div class="row">
    <div class="panel-heading text-center">
      <h2>Регистрация</h2>
    </div>  

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

 <div class="form_group">
    <%= f.label :name %><br />
    <%= f.text_field :name, placeholder: "Ф.И.О.", autofocus: true, class: "form-control" %>
  </div>
  <br>
  <div class="form_group">
    <%= f.label :email %><br />
    <%= f.email_field :email, placeholder: "Электронная почта", autofocus: true, autocomplete: "email", class: "form-control" %>
  </div>
<br>
<div class="form_group">
    <%= f.label :phone %><br />
    <%= f.telephone_field :phone, placeholder: "Номер телефона (пример: 380971234567)", autofocus: true, class: "form-control" %>
  </div>
 <br> 
  <div class="form_group">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
  </div>
<br>
  <div class="form_group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
  </div>
<br>
<div class="form_group">
    <%= f.label :adress %><br />
    <%= f.text_field :adress, placeholder: "Адрес", autofocus: true, class: "form-control" %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "Sign up", class: "btn btn-primary" %>
  </div>
<% end %>
<br>
<%= render "devise/shared/links" %>
</div>
</div>