
<div class="container">

<<<<<<< HEAD
<h4>Замовлення за період: </h4>
=======
<h4>Заказы c: </h4>
>>>>>>> f5b642ed63968df69d7c6ff0aad10b516b291333
<div class="row">
	
	    <%= form_tag cabinet_refresh_path('all'), method: "get", remote: true do %>
	    <div class="col-xs-3 col-sm-2">
		    <%= date_field_tag :from_date, Date.today - 1.month %>
		 </div>
		 <div class="col-xs-3 col-sm-2">
		    <%= date_field_tag :to_date, Date.today %>
		 </div>
		 <div class="col-xs-3 col-sm-2">
<<<<<<< HEAD
		    <%= submit_tag "Показати" %>
=======
		    <%= submit_tag "Показать" %>
>>>>>>> f5b642ed63968df69d7c6ff0aad10b516b291333
		</div>
	    <% end %>
	</div>

<br>

<%# byebug %> 

<div id="all_row">

<%= render("all") %>

</div>
</div><!--/container-->
