
<div class="container">

<h4>Замовлення за період: </h4>
<div class="row">
	
	    <%= form_tag cabinet_refresh_path('all'), method: "get", remote: true do %>
	    <div class="col-xs-3 col-sm-2">
		    <%= date_field_tag :from_date, Date.today - 1.month %>
		 </div>
		 <div class="col-xs-3 col-sm-2">
		    <%= date_field_tag :to_date, Date.today %>
		 </div>
		 <div class="col-xs-3 col-sm-2">
		    <%= submit_tag "Показати" %>
		</div>
	    <% end %>
	</div>

<br>

<%# byebug %> 

<div id="all_row">

<%= render("all") %>

</div>
</div><!--/container-->
