
<div class="container">

<h4>Заказы c: </h4>

    <%= form_tag cabinet_refresh_path('all'), method: "get", remote: true do %>
	    <%#= date_field_tag :from_date, DateTime.now.prev_month(1).strftime("%d-%m-%Y") %>
	    <%= date_field_tag :from_date, '01/01/2018' %>
	    <%= date_field_tag :to_date, '01/01/2018' %>
	    <%= submit_tag "Показать" %>
    <% end %>

<p>
<p>

<%# byebug %> 

<div id="all_row">

<%= render("all") %>

</div>
</div><!--/container-->
