<div class="container">
	

	<h3>Заказы за год</h3>
	<p></p>

<div class="row-t">

	<div class="list_line">
		<div class="list_column" > Дата </div>
		<div class="list_column" > № заказа </div>
		<div class="list_column" > Статус </div>
		<div class="list_column" > Менеджер </div>
		<div class="list_column" > Мастер </div>
		<div class="list_column" > Сумма </div>
		<div class="list_column" > Акт </div>
	</div>

	<% @list.each do |row| %>

	<div class="<%= cycle('list_line_odd', 'list_line_even') %>">
		<div class="list_column"> <%= row["_Date_Time"].strftime("%Y.%m.%d") %> </div>
		<div class="list_column"> <%= row["_Number"]%> <br> <%= link_to "Показать", cabinet_show_order_path(row["_Number"]), remote: true %> </div>
		<div class="list_column"> <%= OrderList.description_status(row["Status"]) %>  </div>
		<div class="list_column"> <%= row["Manager"] %>  </div>
		<div class="list_column"> <%= row["Master"] %>  </div>
		<div class="list_column"> <%= row["Summa"] %>  </div>
		<div class="list_column"> <a href="assets/Akt.pdf">Скачать Акт в PDF</a> </div>
	</div>
	<div id="<%=row["_Number"]%>" class="list_line" style="display: none">
	
	</div>

	<% end %>

</div> <!-- список заказов-->

</div><!--/container-->