<div class="container">
	

	<h3>Заказы за год</h3>
	<p></p>

<div class="row">

	<table border="1">
	<tr bgcolor="lightgrey">
		<td align="center" width="10%"> Дата </td>
		<td align="center" width="10%"> № заказа </td>
		<td align="center" width="10%"> Статус </td>
		<td align="center" width="20%"> Менеджер </td>
		<td align="center" width="20%"> Мастер </td>
		<td align="center" width="9%"> Сумма </td>
		<td align="center" width="11%"> Акт </td>
	</tr

	<% @list.each do |row| %>

	<tr>
		<td align="center" width="10%"> <%= row["_Date_Time"].strftime("%Y.%m.%d") %> </td>
		<td align="center" width="10%"> <%= row["_Number"] %> </td>
		<td align="center" width="10%"> <%= OrderList.description_status(row["Status"]) %>  </td>
		<td align="center" width="20%"> <%= row["Manager"] %>  </td>
		<td align="center" width="20%"> <%= row["Master"] %>  </td>
		<td align="center" width="9%"> <%= row["Summa"] %>  </td>
		<td align="center" width="11%"> <a href="app/assets/Akt.pdf">Скачать Акт в PDF</a> </td>
	</tr

	<% end %>
	</table>
</div> <!-- список заказов-->

</div><!--/container-->