<div class="main-content">
	<div class="container">
		<div class="row">
			<div class="title title-pages">
				<h3>Компьютерная скорая помощь "Мегабайт" предоставляет следующие услуги:</h3>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6">
					<h4>Сервис по ремонту компьютеров и ноутбуков установке и наладке ПО.</h4>
					<p>При наличии необходимых комплектующих ремонт компьютеров выполняется в день обращения. 
					При вызове мастера по ремонту компьютеров на дом или в офис, выезд специалистов бесплатный!
					Мы делаем не только физический ремонт компьютеров, ремонт ноутбуков, но и установку программного обеспечения, настройку системы на оптимальное быстродействие, защитим Ваш компьютер или ноутбук от вирусов.
					Произведем модернизацию компьютера или ноутбука, соберем компьютер на заказ.</p>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6">
					<h4>Заправка картриджей, ремонт оргтехники.</h4>
					<p>Одним из видов нашей деятельности является заправка картриджей, ремонт оргтехники,
					а также продажа новых оригинальных и совместимых картриджей для струйных и лазерных принтеров.
					Заправкой картриджей и ремонтом ксероксов и принтеров занимаются многие компании, 
					но далеко не все предоставляют своим клиентам качественный сервис.
					Самое важное отличие нашей компании от других заключается в комплексном подходе к оргтехнике клиента.</p>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6">
					<h4>Одно из направлений деятельности нашего сервисного центра - ремонт TFT и CRT мониторов.</h4>
					<p>Мы осуществляем ремонт мониторов всех марок и практически всех моделей: LG, Samsung, Sony,
					ViewSonic, Daewoo, CTX, Hyundai, Panasonic, Nokia, Falcon, ADI, NEC, Mag, Mitsubishi,
					HP, Acer, Bridge и др. Наши цены на ремонт мониторов не зависят от производителя или марки монитора, они зависят от количества вышедших из строя блоков. 
					Сложный электромеханический ремонт производится только в стационарном сервисе.</p>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6">
					<h4>Мы предоставляем услуги по подключению и установке оборудования "СПУТНИКОВОГО ИНТЕРНЕТА".</h4>
					<p>Запросный канал пользователя осуществляется через любое доступное наземное подключение 
					(DialUP, DSL, выделенная линия, радиоканал, GPRS и т.п.) поступает на сервер спутникового оператора.
					Сервер получает необходимые данные из интернет, отправляет их на спутник, пользователь посредством спутниковой антенны и DVB-приемника получает запрошенные данные.
					Наземное подключение должно быть постоянным, т.к. обмен данными происходит непрерывно.</p>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6">
					<h4>Спутниковое телевидение.</h4>
					<p>Вам надоело, что любимые фильмы прерываются рекламой на 20 минут?
					Вам надоела дряблая картинка на Вашем экране?
					Вам хочется смотреть больше каналов?
					Вас не устраивает набор программ?
					Тогда Ваш выбор - Спутниковое телевидение.
					Множество каналов, отсутствие рекламы, огромный выбор фильмов, спортивных, детских и новостных передач скрасят Ваш досуг.
					Спутниковое телевидение - выбор современного человека.</p>
				</div>
			</div>
		</div>
	</div>	

  <div class="container">
	<div class="row">
			<div class="comanda-title title-pages">
				<h3>Наша команда</h3>
			</div>

			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="col-xs-6 col-sm-6 col-md-6">
						<div class="comanda_person_b">
						<%= image_tag "person.png" %><br>
						<p><strong>Валерий Гармаш</strong><br>
						Генеральный директор КСП "МЕГАБАЙТ"</p>
						</div>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6">
						<div class="comanda_person_b">
						<%= image_tag "person.png" %><br>
						<p><strong>Таисия Гармаш</strong><br>
						Финансовый директор КСП "МЕГАБАЙТ",
						Управляющий подразделения "Мегасайт"</p>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="col-xs-6 col-sm-6 col-md-6">
						<div class="comanda_person_b">
						<%= image_tag "person.png" %><br>
						<p><strong>Арсен Махмудов</strong><br>
						Старший специалист сервис центра.
						Управляющий подразделения "Мегасайт"</p>
						</div>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6">
						<div class="comanda_person_b">
						<%= image_tag "person.png" %><br>
						<p><strong>Екатерина Бендрик</strong><br>
						Менеджер. Диспетчер сервис центра</p>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="col-xs-6 col-sm-6 col-md-6">
						<div class="comanda_person_b">
						<%= image_tag "person.png" %><br>
						<p><strong>Юлия Коробко</strong><br>
						Диспетчер сервис центра. Менеджер курьерськой
						службы TNT. Розничный отдел</p>
						</div>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6">
						<div class="comanda_person_b">
						<%= image_tag "person.png" %><br>
						<p><strong>Людмила Тарасенко</strong><br>
						Бухгалтер сервисного центра.
						Взаиморасчеты с клиентами и поставщиками</p>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="col-xs-6 col-sm-6 col-md-6">
						<div class="comanda_person_b">
						<%= image_tag "person.png" %><br>
						<p><strong>Наталья Беспалая</strong><br>
						Диспетчер сервисцентра. 
						Менеджер филиала "Пункт приема"</p>
						</div>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6">
						<div class="comanda_person_b">
						<%= image_tag "person.png" %><br>
						<p><strong>Семенченко Роман</strong><br>
						Служба доставки. 
						Установка и обслуживание кондиционеров</p>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="col-xs-6 col-sm-6 col-md-6">
						<div class="comanda_person_b">
						<%= image_tag "person.png" %><br>
						<p><strong>Юлия Коробко</strong><br>
						Диспетчер сервис центра. Менеджер курьерськой
						службы TNT. Розничный отдел</p>
						</div>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6">
						<div class="comanda_person_b">
						<%= image_tag "person.png" %><br>
						<p><strong>Сергей Деев</strong><br>
						Специалист сервис центра.
						Специализация: электроника, печатная техника.</p>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="col-xs-6 col-sm-6 col-md-6">
						<div class="comanda_person_b">
						<%= image_tag "person.png" %><br>
						<p><strong>Сергей Данилов</strong><br>
						Специалист сервис центра.
						Специализация: компьютерная техника, програмное обеспечение.</p>
						</div>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-6">
						<div class="comanda_person_b">
						<%= image_tag "person.png" %><br>
						<p><strong>Пестерев Игнат</strong><br>
						Специалист сервис центра.
						Специализация: компьютерная техника, печатная техника.</p>
						</div>
					</div>
				</div>
			</div>				
				
	</div><!--/row всех клиентов-->
	</div>
</div><!--/container-->

