
<div class="container">
      <% flash.each do |name, msg| %>
        <%= content_tag(:div, msg, class: "alert alert-info") %>
      <% end %>
</div>

<div class="about-blog-index">
<div class="container">
  <div class="row">
    <div class="wpb_column vc_column_container col-sm-3">
      <div class="vc_column-inner ">
        <div class="wpb_wrapper">
          <div class="wdc-iconbox style-3">
            <div class="iconbox-container">
              <div class="box-icon" style="background-color: #009cff;"><span><i class="fa fa-wrench"></i></span></div>
              <div class="box-content"><h4 class="box-title"><%= link_to "Наші послуги", prices_path + "#uslugi"%></h4><div>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusa ntium dolore mque.</div></div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="wpb_column vc_column_container col-sm-3">
      <div class="vc_column-inner ">
        <div class="wpb_wrapper">
          <div class="wdc-iconbox style-3">
            <div class="iconbox-container">
              <div class="box-icon" style="background-color: #3f51b5;"><span><i class="fa fa-cog"></i></span></div>
              <div class="box-content"><h4 class="box-title"><%= link_to "Наш сервіс", services_path + "#services" %></h4><div>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor./////////////</div></div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="wpb_column vc_column_container col-sm-3">
      <div class="vc_column-inner ">
        <div class="wpb_wrapper">
          <div class="wdc-iconbox style-3">
            <div class="iconbox-container">
              <div class="box-icon" style="background-color: #673ab7;"><span><i class="fa fa-address-card"></i></span></div>
              <div class="box-content">
              <h4 class="box-title"><%= link_to "Про нас", services_path + "#aboutus" %></h4><div>Sed ut perspiciatis unde omnis iste natus error sit voluptatm accusa ntium dolore mque.</div></div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="wpb_column vc_column_container col-sm-3">
      <div class="vc_column-inner ">
        <div class="wpb_wrapper">
          <div class="wdc-iconbox style-3">
            <div class="iconbox-container">
              <div class="box-icon" style="background-color: #ff5722;"><span><i class="fa fa-heart-o"></i></span></div>
              <div class="box-content">
              <h4 class="box-title"><%= link_to "Наші клієнти", services_path + "#clients" %></h4>
              <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.?????????</div></div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<a class="anchor" id="uslugi"></a>
<div class="container">
    <div class="row">
      <div class="service_index_page wpb_column vc_column_container col-sm-12">
        <div class="vc_column-inner ">
          <div class="wpb_wrapper">
              <div class="wpb_column vc_column_container col-sm-6">
                <div class="vc_column-inner vc_custom_1471344060315">
                  <div class="wpb_wrapper">
                    <div class="text_service wdc-heading style-1 text-left"><h3 class="box-title">Провідна компанія по ремонту комп'ютерів</h3><div class="box-content">Ostrya is an established New York based company, specialised in Computer Repairs and Services, We repair out of warranty laptops and Computer</div></div>
                    <div class="vc_empty_space" style="height: 15px"><span class="vc_empty_space_inner"></span></div>
                  <%= link_to "Сервіс", services_path, class: "wdc-button style-1 size-medium" %>
                  </div>
                </div>
              </div>
              <div class="wpb_column vc_column_container col-sm-6">
              <div class="vc_column-inner vc_custom_1471344135554">
                <div class="wpb_wrapper">
                  <div class="wpb_single_image wpb_content_element vc_align_left  vc_custom_1479135358445">
                    <figure class="wpb_wrapper vc_figure">
                     <div class="vc_single_image-wrapper   vc_box_border_grey"><img src="http://iwebdc.com/demo/ostrya/wp-content/uploads/2016/11/service-02.jpg" class="vc_single_image-img attachment-full" alt="" srcset="http://iwebdc.com/demo/ostrya/wp-content/uploads/2016/11/service-02.jpg 1024w, http://iwebdc.com/demo/ostrya/wp-content/uploads/2016/11/service-02-300x200.jpg 300w, http://iwebdc.com/demo/ostrya/wp-content/uploads/2016/11/service-02-768x512.jpg 768w, http://iwebdc.com/demo/ostrya/wp-content/uploads/2016/11/service-02-600x400.jpg 600w" sizes="(max-width: 1024px) 100vw, 1024px" width="1024" height="683"></div>
                    </figure>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="counter" style="background-image: url(<%= asset_path 'pattern3.png' %>);">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="employees">
                    <div class="box-icon">
                      <span>
                        <i class="fa fa-smile-o fa-2x"></i>
                      </span>
                    </div> 
                    <p class="counter-count">879</p>
                    <p class="employee-p">Щасливих клієнтів</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="customer">
                  <div class="box-icon">
                      <span>
                        <i class="fa fa-laptop fa-2x"></i>
                      </span>
                  </div> 
                    <p class="counter-count">954</p>
                    <p class="customer-p">Відремонтовано ноутбуків</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="design">
                  <div class="box-icon">
                      <span>
                        <i class="fa fa-television fa-2x"></i>
                      </span>
                    </div> 
                    <p class="counter-count">1050</p>
                    <p class="design-p">Відремонтовано ПК</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="order">
                 <div class="box-icon">
                      <span>
                        <i class="fa fa-apple fa-2x"></i>
                      </span>
                    </div>  
                    <p class="counter-count">652</p>
                    <p class="order-p">Інстальовано ОС</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="image_review">
      <%= image_tag "bg-01.jpg", class: "img-responsive" %>

  
  <div class="row">
    <div class='text_review text-center'>
    <h2>Що говорять про нас клієнти?</h2>
    </div>
  </div>
  <div class='row'>
    <div class='review col-md-offset-2 col-md-8'>
      <div class="carousel slide" data-ride="carousel" id="quote-carousel">
        <!-- Bottom Carousel Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
          <li data-target="#quote-carousel" data-slide-to="1"></li>
          <li data-target="#quote-carousel" data-slide-to="2"></li>
        </ol>
        
        <!-- Carousel Slides / Quotes -->
        <div class="carousel-inner">
        
          <!-- Quote 1 -->
          <div class="item active">
            <blockquote>
              <div class="row">
                <div class="col-sm-3 text-center">
                  <img class="img-circle" src="http://www.reactiongifs.com/r/overbite.gif" style="width: 100px;height:100px;">
                  <!--<img class="img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/kolage/128.jpg" style="width: 100px;height:100px;">-->
                </div>
                <div class="col-sm-9">
                  <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit!</p>
                  <small>Someone famous</small>
                </div>
              </div>
            </blockquote>
          </div>
          <!-- Quote 2 -->
          <div class="item">
            <blockquote>
              <div class="row">
                <div class="col-sm-3 text-center">
                  <img class="img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/mijustin/128.jpg" style="width: 100px;height:100px;">
                </div>
                <div class="col-sm-9">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam auctor nec lacus ut tempor. Mauris.</p>
                  <small>Someone famous</small>
                </div>
              </div>
            </blockquote>
          </div>
          <!-- Quote 3 -->
          <div class="item">
            <blockquote>
              <div class="row">
                <div class="col-sm-3 text-center">
                  <img class="img-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/keizgoesboom/128.jpg" style="width: 100px;height:100px;">
                </div>
                <div class="col-sm-9">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum elit in arcu blandit, eget pretium nisl accumsan. Sed ultricies commodo tortor, eu pretium mauris.</p>
                  <small>Someone famous</small>
                </div>
              </div>
            </blockquote>
          </div>
        </div>
        
        <!-- Carousel Buttons Next/Prev -->
        <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left"></i></a>
        <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right"></i></a>
      </div>                          
    </div>
  </div>


</div>


<div class="experience">
  <div class="container">
    <div class="row">
      <div class="wpb_column vc_column_container col-sm-9" style="padding-bottom: 10px;">
        <div class="vc_column-inner ">
          <div class="wpb_wrapper"><h3 style="font-size: 24px;line-height: 1.4em;text-align: left;font-family:Montserrat;font-weight:400;font-style:normal" class="vc_custom_heading vc_custom_1478682176952"> Ми діагностуємо і вирішуємо будь-яку комп'ютерну проблему</h3>
            <div class="wpb_text_column wpb_content_element ">
              <div class="wpb_wrapper">
               <p>10 років стажу в ремонті ноутбуків і ПК</p>
             </div>
          </div>
          </div>
        </div>
      </div>
      <div class="wpb_column vc_column_container col-sm-3">
        <div class="vc_column-inner ">
          <div class="wpb_wrapper">
            <div class="btn3-container">
              <%= link_to "Контакти", contacts_path, class: "btn btn-warning btn-lg" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
$('.counter-count').each(function () {
        $(this).prop('Counter',0).animate({
            Counter: $(this).text()
        }, {
            duration: 5000,
            easing: 'swing',
            step: function (now) {
                $(this).text(Math.ceil(now));
            }
        });
    });
</script>


<script>
$(document).ready(function() {
  //Set the carousel options
  $('#quote-carousel').carousel({
    pause: true,
    interval: 4000,
  });
});
</script>

