<div class="contacts">
  <div class="container">
    <div class="row">
      <div class="title-pages text-center">
<<<<<<< HEAD
        <h3>Наші контакти</h3>
=======
        <h3>Наши контакты</h3>
>>>>>>> f5b642ed63968df69d7c6ff0aad10b516b291333
      </div>
    </div>
  <% @contacts.each do |contact| %>
    <div class="row">
      <div class="contacts-info">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
          <div class="location-class">
            <div class="icon-container">
              <span class="glyphicon glyphicon-globe"></span>
            </div>
            <div class="text">
              <p><strong><%= contact.country %></strong> <br>
                <%= contact.oblast %> <br>
              <%= contact.city %> <br> 
              <%= contact.street1 %> <br>
              <%= contact.street2 %> </p>
            </div>
          </div>
          <div class="location-class">
            <div class="icon-container">
              <span class="glyphicon glyphicon-phone"></span>
            </div>
            <div class="text">
              <p><strong>Телефон</strong><br>
              <%= contact.mobile1 %> <br>
              <%= contact.mobile2 %></p>
            </div>
          </div>  
          <div class="location-class">
            <div class="icon-container">
              <span class="glyphicon glyphicon-print"></span>
            </div>
            <div class="text">  
              <p><strong>Факс</strong><br>
              <%= contact.fax %></p>
            </div>
          </div>
          <div class="location-class">
            <div class="icon-container">
              <span class="glyphicon glyphicon-envelope"></span>
            </div>  
            <div class="text">  
              <p><strong>Email</strong><br>
              <%= contact.email %></p>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-8 col-lg-8">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1561.153193088025!2d37.61584063785678!3d48.84798392956113!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40df9acfd527ea45%3A0x303e639102424dec!2z0LLRg9C70LjRhtGPINCi0L7RgNGB0YzQutCwLCA1Niwg0KHQu9C-0LIn0Y_QvdGB0YzQuiwg0JTQvtC90LXRhtGM0LrQsCDQvtCx0LvQsNGB0YLRjCwgODQxMDA!5e0!3m2!1sru!2sua!4v1521637623622" width="780" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
      </div>
      
      <% if user_signed_in? %>
        <% if current_user.id == 1 %>
          <div class="edit_contact text-center">
<<<<<<< HEAD
            <%= link_to 'Редагувати контакти', edit_contact_path(contact), class: "btn btn-danger" %>
=======
            <%= link_to 'Редактировать контакты', edit_contact_path(contact), class: "btn btn-danger" %>
>>>>>>> f5b642ed63968df69d7c6ff0aad10b516b291333
          </div>
        <% end %>
      <% end %>

    </div>
  <% end %>
    <div class="row">
      <div class="title-pages text-center">
<<<<<<< HEAD
        <h3>Наші філіали</h3>
=======
        <h3>Наши филиалы</h3>
>>>>>>> f5b642ed63968df69d7c6ff0aad10b516b291333
      </div>
    </div>
    
    <div class="row">
      <div class="filials">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <h4 class="text-center">МР-Н Артема</h4>
          <p>Ул. Вольная, 2. Внутри отделения ОЩАДБАНКА №105.
          Пункт приема и выдачи техники, мелкий ремонт и заправка картриджей осуществляется на месте.</p>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <h4 class="text-center">г. Краматорск</h4>
          <p>Наша компания оказывает помощь нашим клиентам в соседнем городе. Заявки выполняются на следующий день, после поступления заявки.</p>
        </div>
      </div>
    </div>
  </div>
</div>    