<div class="col-md-4 col-md-offset-4">
  <div class="row">
    <div class="panel-heading text-center">
<<<<<<< HEAD
      <h2>Вхід</h2>
=======
      <h2>Вход</h2>
>>>>>>> f5b642ed63968df69d7c6ff0aad10b516b291333
    </div>  


<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form_group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
  </div>
<br>
  <div class="form_group">
    <%= f.label :Пароль %><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
  </div>
  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
<<<<<<< HEAD
      <%= f.label :"Запам'ятати_мене" %>
=======
      <%= f.label :Запомнить_меня %>
>>>>>>> f5b642ed63968df69d7c6ff0aad10b516b291333
    </div>
  <% end -%>
<br>
  <div class="actions">
<<<<<<< HEAD
    <%= f.submit "Вхід", class: "btn btn-primary" %>
=======
    <%= f.submit "Вход", class: "btn btn-primary" %>
>>>>>>> f5b642ed63968df69d7c6ff0aad10b516b291333
  </div>
<% end %>
<br>
<%= render "devise/shared/links" %>

</div>
</div>