 <div class='nested-fields'>
    <div class="price_form">
	    <div class="field">
<<<<<<< HEAD
	      <%= f.text_field :name, placeholder: "Послуга" %>
	    </div>
	    <div class="field">
	      <%= f.text_field :value, placeholder: "Ціна (грн., шт.)" %>
	    </div>
	    <%= link_to_remove_association "Видалити", f %>
=======
	      <%= f.text_field :name, placeholder: "Услуга" %>
	    </div>
	    <div class="field">
	      <%= f.text_field :value, placeholder: "Цена (грн., шт.)" %>
	    </div>
	    <%= link_to_remove_association "Удалить", f %>
>>>>>>> f5b642ed63968df69d7c6ff0aad10b516b291333
    </div>
 </div>