
<div class="container">
      <% flash.each do |name, msg| %>
        <%= content_tag(:div, msg, class: "alert alert-info") %>
      <% end %>
</div>

<div class="about-blog-index">
<div class="container">
  <div class="row">
    <div class="wpb_column vc_column_container col-sm-3">
      <div class="vc_column-inner ">
        <div class="wpb_wrapper">
          <div class="wdc-iconbox style-3">
            <div class="iconbox-container">
              <div class="box-icon" style="background-color: #009cff;"><span><i class="fa fa-wrench"></i></span></div>
              <div class="box-content"><h4 class="box-title">Honest Services</h4><div>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusa ntium dolore mque.</div></div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="wpb_column vc_column_container col-sm-3">
      <div class="vc_column-inner ">
        <div class="wpb_wrapper">
          <div class="wdc-iconbox style-3">
            <div class="iconbox-container">
              <div class="box-icon" style="background-color: #3f51b5;"><span><i class="fa fa-cog"></i></span></div>
              <div class="box-content"><h4 class="box-title">Quick Repair</h4><div>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor./////////////</div></div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="wpb_column vc_column_container col-sm-3">
      <div class="vc_column-inner ">
        <div class="wpb_wrapper">
          <div class="wdc-iconbox style-3">
            <div class="iconbox-container">
              <div class="box-icon" style="background-color: #673ab7;"><span><i class="fa fa-history"></i></span></div>
              <div class="box-content"><h4 class="box-title">On time delivery</h4><div>Sed ut perspiciatis unde omnis iste natus error sit voluptatm accusa ntium dolore mque.</div></div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="wpb_column vc_column_container col-sm-3">
      <div class="vc_column-inner ">
        <div class="wpb_wrapper">
          <div class="wdc-iconbox style-3">
            <div class="iconbox-container">
              <div class="box-icon" style="background-color: #ff5722;"><span><i class="fa fa-heart-o"></i></span></div>
              <div class="box-content"><h4 class="box-title">We are pasionate</h4><div>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.?????????</div></div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div class="container">
    <div class="row">
      <div class="service_index_page wpb_column vc_column_container col-sm-12">
        <div class="vc_column-inner ">
          <div class="wpb_wrapper">
              <div class="wpb_column vc_column_container col-sm-6">
                <div class="vc_column-inner vc_custom_1471344060315">
                  <div class="wpb_wrapper">
                    <div class="text_service wdc-heading style-1 text-left"><h3 class="box-title">Leading Computer Repaire Service Company</h3><div class="box-content">Ostrya is an established New York based company, specialised in Computer Repairs and Services, We repair out of warranty laptops and Computer</div></div>
                    <div class="vc_empty_space" style="height: 15px"><span class="vc_empty_space_inner"></span></div>
                  <%= link_to "Сервис", service_path, class: "wdc-button style-1 size-medium" %>
                  </div>
                </div>
              </div>
              <div class="wpb_column vc_column_container col-sm-6">
              <div class="vc_column-inner vc_custom_1471344135554">
                <div class="wpb_wrapper">
                  <div class="wpb_single_image wpb_content_element vc_align_left  vc_custom_1479135358445">
                    <figure class="wpb_wrapper vc_figure">
                     <div class="vc_single_image-wrapper   vc_box_border_grey"><img src="http://iwebdc.com/demo/ostrya/wp-content/uploads/2016/11/service-02.jpg" class="vc_single_image-img attachment-full" alt="" srcset="http://iwebdc.com/demo/ostrya/wp-content/uploads/2016/11/service-02.jpg 1024w, http://iwebdc.com/demo/ostrya/wp-content/uploads/2016/11/service-02-300x200.jpg 300w, http://iwebdc.com/demo/ostrya/wp-content/uploads/2016/11/service-02-768x512.jpg 768w, http://iwebdc.com/demo/ostrya/wp-content/uploads/2016/11/service-02-600x400.jpg 600w" sizes="(max-width: 1024px) 100vw, 1024px" width="1024" height="683"></div>
                    </figure>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>


<section class="blog-area single-padding"> 
	<div class="container animated" style="visibility: visible; animation-name: fadeInUp;">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="blog-title-index text-center">
          <h1 class="box-title">Почему выбирают нас?</h1>
          <div class="box-content">
          <p >Our company is reliable, and our work is trusted. We provide worry-free service you can always count on.</p></div>
        </div>
      </div>
    </div>
		<div class="row">
			<% @posts.each do |post| %>
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<div class="single-recent-news">
						<div class="recent-news-img">
							<%= link_to post do %>
								<%= image_tag post.image.url(:thumb), class: "img-responsive img-thumbnail" %>
							<% end %>
						</div>
						<div class="recent-news-desc">
							<h4><%= link_to post.title, post %></h4>	
							<div class="box">
								<div>
									<p><%= post.body %></p>
                  <script src="jquery.dotdotdot.min.js"></script>
								</div>
							</div>
							<%= link_to "Подробнее", post, class: "btn btn-sm btn-primary" %>
						</div>
					</div>
				</div>	
			<% end %>
		</div>	
	</div>
</section>


<div class="counter" style="background-image: url(<%= asset_path 'pattern3.png' %>);">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="employees">
                    <div class="box-icon">
                      <span>
                        <i class="fa fa-smile-o fa-2x"></i>
                      </span>
                    </div> 
                    <p class="counter-count">879</p>
                    <p class="employee-p">Happy Customers</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="customer">
                  <div class="box-icon">
                      <span>
                        <i class="fa fa-laptop fa-2x"></i>
                      </span>
                  </div> 
                    <p class="counter-count">954</p>
                    <p class="customer-p">Laptop Repaired</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="design">
                  <div class="box-icon">
                      <span>
                        <i class="fa fa-television fa-2x"></i>
                      </span>
                    </div> 
                    <p class="counter-count">1050</p>
                    <p class="design-p">Computer Repaired</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div class="order">
                 <div class="box-icon">
                      <span>
                        <i class="fa fa-apple fa-2x"></i>
                      </span>
                    </div>  
                    <p class="counter-count">652</p>
                    <p class="order-p">OS Installed</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
  <div class="row">
    <div class="wpb_column vc_column_container col-sm-9">
      <div class="vc_column-inner ">
        <div class="wpb_wrapper"><h3 style="font-size: 24px;line-height: 1.4em;text-align: left;font-family:Montserrat;font-weight:400;font-style:normal" class="vc_custom_heading vc_custom_1478682176952"> We’ll repair and diagnose any computer problems</h3>
          <div class="wpb_text_column wpb_content_element ">
            <div class="wpb_wrapper">
             <p>10 Years of experience in Laptop &amp; Computer Repair</p>
           </div>
        </div>
        </div>
      </div>
    </div>
    <div class="wpb_column vc_column_container col-sm-3">
      <div class="vc_column-inner ">
        <div class="wpb_wrapper">
          <div class="btn3-container">
            <%= link_to "Контакты", contacts_path, class: "wdc-button style-1 size-medium" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
$('.counter-count').each(function () {
        $(this).prop('Counter',0).animate({
            Counter: $(this).text()
        }, {
            duration: 5000,
            easing: 'swing',
            step: function (now) {
                $(this).text(Math.ceil(now));
            }
        });
    });
</script>


<script>
$(function(){
  $('.box').dotdotdot();
});
</script>
