<header class="main-header">
  <section class="header-wrapper navgiation-wrapper">
     <nav class="navbar navbar-default navbar-fixed-top">
      <div class="repair-header-top">
      <div class="container">
        <div class="opacity-block"></div>
        <div class="row">
          <div class="col-md-3 col-sm-12 repair-col-logo">
            <div class="megabyte-logo">
              <%= link_to root_path do %>
                <%= image_tag "logo.jpg" %>
              <% end %>
            </div>
          </div>
          <div class="col-md-7 hidden-sm hidden-xs">
            <div class="row">
              <div class="col-md-4">
              </div>
              <div class="col-md-4">
                <div class="repair-icon-box">
                  <div class="icon-container">   
                      <span class="glyphicon glyphicon-phone"></span>
                  </div>
                  <div class="text">
                    <span class="head-heading"><font color="white">Подзвоніть нам</font></span>
                    <span class="head-content">+380971234567</span>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="repair-icon-box">
                  <div class="icon-container">   
                      <span class="glyphicon glyphicon-time"></span>
                  </div>
                  <div class="text">
                    <span class="head-heading"><font color="white">Робочий час</font></span>
                    <span class="head-content">Пн.-Нд. 9.00 - 18.00</span>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="col-md-2 hidden-sm hidden-xs">
            <div class="btn-quote">
              <%= link_to "Замовити послугу", contactus_path + "#contactus", class: "btn-request_quote" %>
            </div>
          </div>
        </div>
      </div>
    </div>

   
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-main">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <div class="collapse navbar-collapse" id="navbar-main">
          
          <ul class= "nav navbar-nav">
            <li><%#= link_to "О нас", about_path, class: "active" %></li>
            <li><%= link_to "Сервіс", services_path, class: "active" %></li>
            <li><%= link_to "Блог", posts_path, class: "active" %></li>
            <li><%#= link_to "Клиенты", clients_path, class: "active" %></li>
            <li><%= link_to "Прайс-лист", prices_path, class: "active" %></li>
            <li><%= link_to "Контакти", contacts_path, class: "active" %></li>
            <!-- Кнопка, открывающая модальное окно -->
            <li><a href="#statdoc" class="active" data-toggle="modal">Статус замовлення</a></li>
          </ul>

          <% if user_signed_in? %>
            <ul class= "nav navbar-nav navbar-right">

              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Аккаунт
                  <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Список замовлень", orderlist_path %></li>
                  <li><%= link_to "Змінити аккаунт", edit_user_registration_path + "#adminpage"%></li>
                </ul>
             </li>

      
              <li> <%= link_to "Вийти", destroy_user_session_path, method: :delete %> </li>
            </ul>
          <% else %>
            <ul class= "nav navbar-nav navbar-right">
              <li> <%= link_to "Увійти", new_user_session_path %> </li>
              <li> <%= link_to "Реєстрація", new_user_registration_path %> </li>
            </ul>
          <% end %> 
          
        </div> 

      </div>
    </nav>
  </section>
</header>

<div id="myCarousel" class="carousel fade-carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag "carusel1.jpg", class: "img-responsive" %>
       <div class="hero">
          <hgroup>
            <h1>Ми надійні</h1>        
            <h3>Відремонтуйтесь у нас з гарантією</h3>
          </hgroup>
          <a href="#statdoc" class="active btn btn-info btn-lg" data-toggle="modal">Статус замовлення</a>
          <%= link_to "Замовити послугу", contactus_path + "#contactus", class: "btn btn-info btn-lg" %>
        </div>
    </div>

    <div class="item">
      <%= image_tag "carusel2.jpg", class: "img-responsive" %>
         <div class="hero">
          <hgroup>
            <h1>Креативні ми</h1>        
            <h3>Продіагностуйте своє обладнання</h3>
          </hgroup>
          <a href="#statdoc" class="active btn btn-info btn-lg" data-toggle="modal">Статус замовлення</a>
          <%= link_to "Замовити послугу", contactus_path + "#contactus", class: "btn btn-info btn-lg" %>
        </div>  
    </div>

    <div class="item">
      <%= image_tag "carusel3.jpg", class: "img-responsive" %>
        <div class="hero">
          <hgroup>
            <h1>Ми креативні</h1>        
            <h3>Будьте впевнені в ремонті своєї техніки</h3>
          </hgroup>
          <a href="#statdoc" class="active btn btn-info btn-lg" data-toggle="modal">Статус замовлення</a>
          <%= link_to "Замовити послугу", contactus_path + "#contactus", class: "btn btn-info btn-lg" %>
        </div>  
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<script>
 $(window).scroll(function(){
    $(".opacity-block").each(function () {
      var scrolled;
      window.onscroll = function() {
      scrolled = window.pageYOffset || document.documentElement.scrollTop;
      if(scrolled > 100){
        $(".opacity-block").addClass('stick_bottom'); 
    }
    if(100 > scrolled){
        $(".opacity-block").removeClass('stick_bottom'); 
        $(".opacity-block").addClass('stick_top');       
    }

}
    });
});
</script>


