<!DOCTYPE html>
<html>
  <head>
    <title>Megabyte</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render('layouts/header') if @mainpage %>
    <%= render('layouts/header_page') if @mainpage == nil%>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
